table {
    align-self: center;
}

tr {
    font-family: 'Courier New', Courier, monospace
}

.col-titles {
    font-size: x-large;
    font-weight: bold;
}

button.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding-top: 5px;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

img {
  alt: "*";
  width: 15px;
  height: 15px;
}